@media screen and (max-width: 992px) {
  .form {
    &__contact-form{
      width: 80%;
    }
  }
  .main {
    &__article{
      &>*{
        max-width: 100%;
        height: auto;
      }
      max-width: 100%;
      flex-direction: column;
      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .form {
    &__contact-form{
      width: 100%;
    }
  }
}