$primary-color: #2d2b31;
$bg: #f5f4f0;
$bg-secondary: #9bccbb;
$karla: 'Karla', sans-serif;

* {
  box-sizing: border-box;
}

body {
  color: $primary-color;
  background-color: $bg;
  font-family: $karla;
  margin: 0px;
}

.main-header{
  text-align: center;
  padding: 1.5rem;
  h1 {
    margin-top: 0;
    font-size: 3rem;
    font-weight: bold;
  }
  h3 {
    margin-bottom: 0;
  }
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;

  &__article {
    margin-bottom: 4rem;
    max-width: 60%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &:nth-child(even) {
      flex-direction: row-reverse;

    }
    &>* {
      display: flex;
      flex: 0 0 50%;
      max-width: 50%;
      margin: .5rem;
    }
    figure{
      img {
        width: 100%;
        object-fit: contain;
        max-height: 250px;
        box-shadow: 10px 10px 51px -8px rgba(0,0,0,0.75);
      }
    }
    article{
      flex-direction: column;
      h1{
        font-weight: bold;
        margin: 0;
        font-size: 1.25em;
      }
      p {
        line-height: 1.5em;
      }
    }
  }
}
.main-footer{
  padding: 1.5rem;
  h3{
    text-align: center;
  }
  &__social-media{
    display: flex;
    justify-content: center;
    &__list{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      li {
        padding: 0 1rem;
        a{
          color: $bg;
          background-color: $primary-color;
          padding: .5rem;
          border-radius: 50%;
        }
      }
    }
  }
}

.message {
  margin: 2rem;
}
.form {
  margin: 2rem;
  padding: 2rem;
  background-color: $bg-secondary;
  width: 100%;
  &__contact-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    &>*{
      padding: 1rem;
    }
    .mpp-button {
      margin: 0 1rem 0 0;
      align-self: flex-end;
    }
  }
}
.mpp-label{
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  input,select,textarea {
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    display: block;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: $primary-color;
    background-color: transparent;
    width: 100%;
    font-size: 1.5rem;
  }
  &:focus-within{
    color: $bg;
    input,select,textarea{
      color: $bg;
      border-color: $bg;
    }
  }
}
.mpp-button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-family: $karla;
  border: solid 2px $primary-color;
  background-color: transparent;
  font-weight: bold;
}
.mpp-half-size{
  flex-basis: 50%;
}
.mpp-all-size{
  flex-basis: 100%;
}
.text-center { 
  text-align: center;
}
.text-light {
  font-weight: lighter;
}
@import 'media-queries'